<h3>People:</h3>
<button class='create' {{action 'create'}}>Create</button>
<ol>
{{#each model as |person|}}
    <li>
        {{#link-to 'person' person.id}}{{full-name person=person}}{{/link-to}}
        <button class='delete' {{action 'delete' person}}>Delete</button>
    </li>
{{/each}}
</ol>
