<h3>People:</h3>
<button class='create' {{action 'create'}}>Create</button>
<ol>
{{#each model as |person|}}
    <li>
        {{#link-to 'person' person.id}}{{person.lastName}}, {{person.firstName}}{{/link-to}}
        <button class='delete' {{action 'delete' person}}>Delete</button>
    </li>
{{/each}}
</ol>
